.navbar {
  background-color : #FAF9F6;
    width : 100vw;
    height : 70px;
    margin: 0;
    position: fixed;
    z-index: 2;

  h2 {
    font-family : 'Oswald';
    margin : 0;
    height: 100%;
    font-size: 36px;
    text-align: center;
    padding-top: 4px;
  }
}
