.popup-card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.popup-content {
  width: 40% !important;
  height: 40%;
  position: absolute !important;
  top: 20% !important;
  left: 8% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAF9F6 !important;
}
